<!doctype html>
<html>
  {% include "header.html" %}
    <!-- Call to Action-->
    <section class="content-section bg-primary text-white">
        <div class="container px-4 px-lg-5 text-center">
          <a class="btn btn-xl btn-light me-4" href="#!">문의하기</a>
        </div>
    </section>
    {% include "footer.html" %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{{url_for('static', filename='../static/js/scripts.js')}}"></script>
  </body>
</html>