<!DOCTYPE html>
<html>
    {% include "header.html" %}
        <!-- Header-->
        <header class="masthead d-flex align-items-center">
            <div class="container px-4 px-lg-5 text-center">
                <h1 class="mb-1">형태소 분석기</h1>
                <h3 class="mb-5"><em>AI기반 국어 문법 수업 Copilot for 중1, 중3</em></h3>
                <a class="btn btn-primary btn-xl" href="{{url_for('tokenize')}}">시작</a>
            </div>
        </header>
        {% include "footer.html" %}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static', filename='../static/js/scripts.js')}}"></script>
        <script>
        async function getRequest(url = '') {
            const response = await fetch(url, {
                method: 'GET',
                cache: 'no-cache'
            })
            return response.json()
        }
        document.addEventListener('DOMContentLoaded', function () {
            let url = document.location
            let route = "/flaskwebgui-keep-server-alive"
            let interval_request = 3 * 1000 //sec
            function keep_alive_server() {
                getRequest(url + route)
                    .then(data => console.log(data))
            }
            setInterval(keep_alive_server, interval_request)()
        })
        </script>
    </body>
</html>
